* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper .heder {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: black;
  padding: 15px;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.wrapper .heder .heder__wrapp {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wrapper .heder .heder__wrapp .log {
  width: 250px;
  color: white;
  font-size: 18px;
}

.wrapper .heder .nav {
  width: 250px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.wrapper .heder .nav a {
  width: 80px;
  color: white;
}

.wrapper .main {
  width: 100%;
  height: 100%;
  background: url(../img/ground/lavina-1024x682.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.wrapper .main .main__wrap {
  width: 100%;
}

.wrapper .main .main__wrap img {
  width: 100%;
  max-width: 140px;
  height: 100px;
  margin-left: calc(50% - 70px);
  margin-top: 60px;
}

@media (max-width: 400px) {
  .wrapper .main .main__wrap img {
    margin-left: calc(50% - 50px);
    max-width: 100px;
    max-height: 60px;
  }
}

.wrapper .main .main__wrap h1 {
  width: 100%;
  max-width: 400px;
  font-size: 50px;
  margin-left: calc(50% - 200px);
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 400px) {
  .wrapper .main .main__wrap h1 {
    font-size: 35px;
    margin-left: 0;
  }
}

.wrapper .main .main__wrap p {
  width: 100%;
  max-width: 700px;
  margin-left: calc(50% - 350px);
  font-family: initial;
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  color: grey;
}

@media (max-width: 760px) {
  .wrapper .main .main__wrap p {
    padding: 5px;
    font-size: 18px;
    margin-left: 0;
    text-align: center;
  }
}

.wrapper .main .main__wrap .time {
  width: 100%;
  max-width: 400px;
  margin-left: calc(50% - 200px);
  padding: 15px 0px;
  text-transform: uppercase;
  color: aquamarine;
}

@media (max-width: 400px) {
  .wrapper .main .main__wrap .time {
    margin-left: 0px;
  }
}

.wrapper .main .main__wrap .time .days {
  width: 100%;
  float: left;
  width: calc(100% / 4);
}

.wrapper .main .main__wrap .time .hours {
  width: 100%;
  float: left;
  width: calc(100% / 4);
}

.wrapper .main .main__wrap .time .minutes {
  width: 100%;
  float: left;
  width: calc(100% / 4);
}

.wrapper .main .main__wrap .time .seconds {
  width: 100%;
  float: left;
  width: calc(100% / 4);
}

.wrapper .main .main__wrap label {
  width: 100%;
  float: left;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

@media (max-width: 760px) {
  .wrapper .main .main__wrap label {
    font-size: 35px;
    margin-left: 0;
  }
}

.wrapper .main .main__wrap span {
  width: 100%;
  float: left;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

@media (max-width: 400px) {
  .wrapper .main .main__wrap span {
    font-size: 10px;
    margin-left: 0px;
  }
}

.wrapper .main .main__wrap .email__form {
  width: 100%;
  max-width: 400px;
  margin-left: calc(50% - 200px);
  padding-top: 100px;
}

.wrapper .main .main__wrap .email__form input {
  width: 100%;
  background-color: transparent;
  text-transform: capitalize;
  border-bottom: 1px solid #f0eaea;
  text-align: center;
  font-size: 25px;
}

.wrapper .main .main__wrap .email__form input::placeholder {
  color: #e9dfdf;
}

.wrapper .main .main__wrap .email__form button {
  width: 150px;
  height: 40px;
  margin-left: calc(50% - 75px);
  margin-top: 10%;
  background-color: #f375c9;
  color: yellow;
  box-shadow: 2px 2px 1px black;
}

.wrapper .main .main__wrap .mouse {
  margin-top: 50px;
  width: 30px;
  height: 50px;
  border: 3px solid #f5f3fa;
  margin-left: calc(50% - 15px);
  border-radius: 20px;
}

.wrapper .main .main__wrap .mouse .wheel {
  width: 4px;
  height: 16px;
  border: 1px solid #02ff02;
  margin-left: calc(50% - 2px);
  background-color: aliceblue;
  animation-name: wheel;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes wheel {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 20px;
  }
}

.wrapper .section {
  width: 100%;
  height: 500px;
  display: inline-flex;
  justify-content: center;
}

.wrapper .section .section__wrapp {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 50px 0px;
}

@media (max-width: 920px) {
  .wrapper .section .section__wrapp {
    margin-top: 0;
    padding: 0;
  }
}

@media (max-width: 760px) {
  .wrapper .section .section__wrapp {
    padding-top: 0;
  }
}

.wrapper .section .section__wrapp .section__left {
  width: 50%;
  float: left;
}

@media (max-width: 920px) {
  .wrapper .section .section__wrapp .section__left {
    width: 100%;
    margin-top: 0;
  }
}

.wrapper .section .section__wrapp .section__right {
  width: 50%;
  float: left;
}

@media (max-width: 920px) {
  .wrapper .section .section__wrapp .section__right {
    width: 100%;
    margin-top: 0;
  }
}

.wrapper .section .section__wrapp .left__content,
.wrapper .section .section__wrapp .right__content {
  width: 94%;
  margin-left: 3%;
}

@media (max-width: 920px) {
  .wrapper .section .section__wrapp .left__content,
  .wrapper .section .section__wrapp .right__content {
    margin-top: 0;
  }
}

.wrapper .section .section__wrapp .left__content h3,
.wrapper .section .section__wrapp .right__content h3 {
  width: 100%;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  color: black;
  text-transform: uppercase;
  padding: 10px 0px;
}

@media (max-width: 920px) {
  .wrapper .section .section__wrapp .left__content h3,
  .wrapper .section .section__wrapp .right__content h3 {
    font-size: 18px;
  }
}

.wrapper .section .section__wrapp .left__content p,
.wrapper .section .section__wrapp .right__content p {
  font-size: 18px;
  line-height: 25px;
  padding: 10px 0px;
}

@media (max-width: 920px) {
  .wrapper .section .section__wrapp .left__content p,
  .wrapper .section .section__wrapp .right__content p {
    font-size: 10px;
  }
}

.wrapper .section .section__wrapp .left__content p span,
.wrapper .section .section__wrapp .right__content p span {
  color: red;
}

.wrapper .section .section__wrapp .left__content form,
.wrapper .section .section__wrapp .right__content form {
  width: 100%;
  margin-top: 82px;
}

@media (max-width: 920px) {
  .wrapper .section .section__wrapp .left__content form,
  .wrapper .section .section__wrapp .right__content form {
    margin-top: 0;
  }
}

@media (max-width: 760px) {
  .wrapper .section .section__wrapp .left__content form,
  .wrapper .section .section__wrapp .right__content form {
    margin-top: 0;
  }
}

.wrapper .section .section__wrapp .left__content form .name,
.wrapper .section .section__wrapp .right__content form .name {
  width: 49%;
  float: left;
  border-bottom: 1px solid grey;
  color: grey;
}

@media (max-width: 920px) {
  .wrapper .section .section__wrapp .left__content form .name,
  .wrapper .section .section__wrapp .right__content form .name {
    margin-top: 0;
  }
}

.wrapper .section .section__wrapp .left__content form .email,
.wrapper .section .section__wrapp .right__content form .email {
  width: 49%;
  float: right;
  border-bottom: 1px solid grey;
  color: grey;
}

@media (max-width: 920px) {
  .wrapper .section .section__wrapp .left__content form .email,
  .wrapper .section .section__wrapp .right__content form .email {
    margin-top: 0;
  }
}

.wrapper .section .section__wrapp .left__content form .textarea,
.wrapper .section .section__wrapp .right__content form .textarea {
  margin-top: 15px;
  width: 100%;
  color: grey;
  border-bottom: 1px solid grey;
  padding-top: 20px;
  resize: none;
}

@media (max-width: 920px) {
  .wrapper .section .section__wrapp .left__content form .textarea,
  .wrapper .section .section__wrapp .right__content form .textarea {
    margin-top: 0;
  }
}

@media (max-width: 760px) {
  .wrapper .section .section__wrapp .left__content form .textarea,
  .wrapper .section .section__wrapp .right__content form .textarea {
    margin-top: 0;
  }
}

.wrapper .section .section__wrapp .left__content form button,
.wrapper .section .section__wrapp .right__content form button {
  margin-top: 30px;
  width: 120px;
  height: 30px;
  float: right;
  background-color: #f375c9;
  color: yellow;
}

@media (max-width: 760px) {
  .wrapper .section .section__wrapp .left__content form button,
  .wrapper .section .section__wrapp .right__content form button {
    margin-top: 0;
  }
}

.wrapper .section .section__wrapp .left__content .animation,
.wrapper .section .section__wrapp .right__content .animation {
  margin-top: 30px;
  width: 100%;
  height: 100%;
  padding: 15px 0px;
}

@media (max-width: 920px) {
  .wrapper .section .section__wrapp .left__content .animation,
  .wrapper .section .section__wrapp .right__content .animation {
    margin-top: 0;
  }
}

@media (max-width: 760px) {
  .wrapper .section .section__wrapp .left__content .animation,
  .wrapper .section .section__wrapp .right__content .animation {
    margin-top: 0;
  }
}

.wrapper .section .section__wrapp .left__content .animation .bar__row,
.wrapper .section .section__wrapp .right__content .animation .bar__row {
  width: 100%;
  height: 40px;
  position: relative;
}

.wrapper .section .section__wrapp .left__content .animation .bar__row lebel,
.wrapper .section .section__wrapp .right__content .animation .bar__row lebel {
  width: 50%;
  float: left;
}

.wrapper .section .section__wrapp .left__content .animation .bar__row span,
.wrapper .section .section__wrapp .right__content .animation .bar__row span {
  width: 50%;
  float: right;
  text-align: right;
}

.wrapper .section .section__wrapp .left__content .animation .bar__row .row__rap,
.wrapper .section .section__wrapp .right__content .animation .bar__row .row__rap {
  width: 100%;
}

.wrapper .section .section__wrapp .left__content .animation .bar__row .row__rap .line, .wrapper .section .section__wrapp .left__content .animation .bar__row .row__rap .active,
.wrapper .section .section__wrapp .right__content .animation .bar__row .row__rap .line,
.wrapper .section .section__wrapp .right__content .animation .bar__row .row__rap .active {
  position: absolute;
  bottom: 8px;
  width: 100%;
  height: 4px;
  background-color: #adadad;
  border-radius: 10px;
}

.wrapper .section .section__wrapp .left__content .animation .bar__row .row__rap .active,
.wrapper .section .section__wrapp .right__content .animation .bar__row .row__rap .active {
  background-color: salmon;
  animation-name: bars;
  animation-duration: 10s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes bars {
  0% {
    width: 0;
    background-color: #02ff02;
  }
  100% {
    background-color: #02ff02;
  }
}

.wrapper .footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 250px;
  background-color: seagreen;
}

.wrapper .footer .footer__wrapp {
  width: 100%;
}

.wrapper .footer .footer__wrapp .siocal {
  width: 100%;
  height: 40px;
  text-align: center;
  padding: 10px 0px;
}

.wrapper .footer .footer__wrapp .siocal .fa {
  width: 25px;
  height: 25px;
  padding: 7px;
  cursor: pointer;
}

.wrapper .footer .footer__wrapp .siocal .fa:hover {
  background-color: cornsilk;
  border-radius: 15px;
  color: crimson;
}

@media (max-width: 760px) {
  .wrapper .footer .footer__wrapp .siocal .fa:hover {
    pointer-events: none;
  }
}

.wrapper .footer .footer__wrapp hr {
  width: 100%;
  border-bottom: 2px solid black;
}

.wrapper .footer .arrow {
  position: absolute;
  top: -20px;
  right: 0;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 25px;
  background-color: #f375c9;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .footer .arrow a {
  font-size: 35px;
  border-radius: 15px;
  color: cornsilk;
}

.wrapper .footer .logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper .footer .logo img {
  width: 80px;
  height: 80px;
}

.wrapper .footer .logo label {
  font-size: 35px;
  padding-top: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #db892a;
}

.wrapper .footer .about {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #25c410;
}

.wrapper .footer .about span {
  color: #eb890a;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 100%;
}

@media (max-width: 760px) {
  .container {
    width: 98%;
  }
}
